.copyright{
    width: 100%;
    text-align: center;
    position: relative;
}
.up{
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: #eee;
    border-radius: 100%;
    right: 5rem;
    top: -5rem;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
    background-color: #221e3f;
}
i{
    font-size: 2.5rem;
    padding-left: 12px;
    padding-top: 12px;
}
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
     }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}