.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: fit-content;
    
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 4rem -2rem 2rem 0;
}
.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #eeee;
    transform: rotate(45deg);
    display: flex;
    background-color: #eeee;
    border-radius: 50%;
}
.icon-container i{
    margin: 2.2rem 1.5rem;
    color: black;
    font-size: 3.5rem;
    transform: rotate(-45deg);
}
.icon-container i:hover{
    color: black;
    cursor: pointer;
}

/* reusable css */
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin: 10rem 0;
}
.section-heading h1{
    font-size: 3.5rem;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
}
.section-heading h1::after{
    height: 2rem;
    width: 2rem;
    bottom: -1.25rem;
    border-radius: 100%;
}

.section-footer{
    text-align: center;
    margin-top: 0;
    margin-bottom: 22rem;
}
.section-footer h5{
    font-size: 2rem;
    font-weight: 300;
    
}

@media screen and (max-width:768px){
    .icon-container{
        width: 7rem;
        height: 7rem;
    }
    .icon-container i{
        margin: 1rem .6rem;
        font-size: 2.5rem;
    }
    .section-footer h5{
        font-size: 1.5rem;
    }
}